@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

body {
  padding: 0;
  margin: 0;
  display: grid;
}

header {
  background-color: rgb(39, 39, 109);
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 3px solid black;
}

.header-heading {
  color: white;
  padding-left: 50px;
  font-family: "Shippori Antique B1", sans-serif;
}

.side-bar {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  background-color: rgb(106, 106, 177);
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 12px;
}

.content {
  margin-left: 400px;
  margin-top: 100px;
  padding-left: 20px;
  padding-top: 40px;
  padding-right: 50px;
}

.todo-item {
  background-color: rgb(236, 240, 240);
  border-left: 5px solid black;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Shippori Antique B1", sans-serif;
  transition: 0.3s;
}

.todo-item:hover {
  box-shadow: 2px 2px 5px 1px rgba(90, 90, 92, 0.2);
  transform: scale(1.01);
}

.todo-actions {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.todo-details-button {
  font-size: 16px;
  margin-right: 20px;
  background-color: rgb(236, 240, 240);
  border-style: none;
  border: 2px solid rgb(39, 39, 109);
  border-radius: 4px;
  color: rgb(39, 39, 109);
  height: 30px;
  width: 70px;
  cursor: pointer;
  transition: 0.3s;
}

.todo-details-button:hover {
  background-color: rgb(39, 39, 109);
  color: white;
}

.edit-todo-button {
  margin-right: 20px;
  font-size: 28px;
  color: rgb(39, 39, 109);
  cursor: pointer;
  transition: 0.3s;
}

.edit-todo-button:hover {
  color: rgb(106, 106, 177);
}

.remove-todo-item {
  margin-right: 20px;
  background-color: lightgray;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  line-height: 0%;
  transition: 0.3s;
}

.remove-todo-item:hover {
  background-color: #fc5353;
  color: white;
}
