@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

:root {
  --main-primary-color: rgb(39, 39, 109);
  --main-lighter-primary-color: rgb(106, 106, 177);
  --main-lightest-primary-color: rgb(147, 147, 211);
  --remove-or-exit: #fc5353;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
}

/*
 _    _                _              _____ _         _ _             
 | |  | |              | |            / ____| |       | (_)            
 | |__| | ___  __ _  __| | ___ _ __  | (___ | |_ _   _| |_ _ __   __ _ 
 |  __  |/ _ \/ _` |/ _` |/ _ \ '__|  \___ \| __| | | | | | '_ \ / _` |
 | |  | |  __/ (_| | (_| |  __/ |     ____) | |_| |_| | | | | | | (_| |
 |_|  |_|\___|\__,_|\__,_|\___|_|    |_____/ \__|\__, |_|_|_| |_|\__, |
                                                  __/ |           __/ |
                                                 |___/           |___/  */

header {
  background-color: var(--main-primary-color);
  padding: 0;
  margin: 0;
  position: fixed;
  padding-bottom: 3.1px;
  width: 100%;
  border-bottom: 3px solid black;
  z-index: 1;
}

.header-heading {
  color: white;
  padding-left: 50px;
  padding-bottom: 0px;
  font-family: 'Shippori Antique B1', sans-serif;
  font-size: 50px;
  margin-bottom: 0px;
}

/* 
   _____ _     _             _                   _____ _         _ _             
  / ____(_)   | |           | |                 / ____| |       | (_)            
 | (___  _  __| | ___ ______| |__   __ _ _ __  | (___ | |_ _   _| |_ _ __   __ _ 
  \___ \| |/ _` |/ _ \______| '_ \ / _` | '__|  \___ \| __| | | | | | '_ \ / _` |
  ____) | | (_| |  __/      | |_) | (_| | |     ____) | |_| |_| | | | | | | (_| |
 |_____/|_|\__,_|\___|      |_.__/ \__,_|_|    |_____/ \__|\__, |_|_|_| |_|\__, |
                                                            __/ |           __/ |
                                                           |___/           |___/  
*/

.side-bar {
  height: 100%;
  width: 380px;
  padding-left: 20px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  background-color: var(--main-lighter-primary-color);
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 12px;
  font-family: 'Shippori Antique B1', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  cursor: pointer;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 10px;
}

.date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  cursor: pointer;
  height: 65px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 10px;
}

.side-bar-projects {
  height: 290px;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.project-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  height: 60px;
  border-top: 2px solid var(--main-primary-color);
  border-bottom: 2px solid var(--main-primary-color);
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.project-item > h2 {
  margin-left: 10px;
}

.project-item-selected {
  background-color: var(--main-lightest-primary-color);
}

.project-item-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.remove-project {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  visibility: hidden;
  background-color: var(--remove-or-exit);
  font-size: 16px;
  border-radius: 3px;
  margin-right: 10px;
}

.remove-project-visible {
  visibility: visible;
}

.number-of-todo-items {
  font-size: 20px;
  background-color: var(--main-lightest-primary-color);
  margin-right: 20px;
  width: 43px;
  height: 40px;
  padding-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-primary-color);
  border-radius: 50%;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-todo-item-button {
  margin: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 250px;
  font-size: 20px;
  margin-left: 0;
  padding-right: 10px;
  background-color: white;
  color: var(--main-primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border-style: none;
}

.add-todo-item-button:hover {
  color: white;
  background-color: var(--main-lightest-primary-color);
  box-shadow: 2px 2px 5px 1px var(--main-primary-color);
  transform: scale(1.05);
  border: 1px solid var(--main-primary-color);
}

.delete-todo-list {
  visibility: visible;
  font-size: 20px;
  height: 40px;
  width: 40px;
  outline: none;
  border-style: none;
}

/* 
  __  __       _          _____            _             _   
 |  \/  |     (_)        / ____|          | |           | |  
 | \  / | __ _ _ _ __   | |     ___  _ __ | |_ ___ _ __ | |_ 
 | |\/| |/ _` | | '_ \  | |    / _ \| '_ \| __/ _ \ '_ \| __|
 | |  | | (_| | | | | | | |___| (_) | | | | ||  __/ | | | |_ 
 |_|__|_|\__,_|_|_|_|_|  \_____\___/|_| |_|\__\___|_| |_|\__|
  / ____| |       | (_)                                      
 | (___ | |_ _   _| |_ _ __   __ _                           
  \___ \| __| | | | | | '_ \ / _` |                          
  ____) | |_| |_| | | | | | | (_| |                          
 |_____/ \__|\__, |_|_|_| |_|\__, |                          
              __/ |           __/ |                          
             |___/           |___/                                                                                                                                                         
*/

.content {
  margin-left: 400px;
  margin-top: 100px;
  padding-left: 20px;
  padding-top: 40px;
  padding-right: 50px;
}

/*
  _______        _           _____ _                 
 |__   __|      | |         |_   _| |                
    | | ___   __| | ___ ______| | | |_ ___ _ __ ___  
    | |/ _ \ / _` |/ _ \______| | | __/ _ \ '_ ` _ \ 
    | | (_) | (_| | (_) |    _| |_| ||  __/ | | | | |
   _|_|\___/ \__,_|\___/    |_____|\__\___|_| |_| |_|
  / ____| |       | (_)                              
 | (___ | |_ _   _| |_ _ __   __ _                   
  \___ \| __| | | | | | '_ \ / _` |                  
  ____) | |_| |_| | | | | | | (_| |                  
 |_____/ \__|\__, |_|_|_| |_|\__, |                  
              __/ |           __/ |                  
             |___/           |___/                   
*/

.todo-item {
  background-color: rgb(236, 240, 240);
  border-left: 5px solid black;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Shippori Antique B1', sans-serif;
  transition: 0.3s;
}

.task-complete {
  text-decoration: line-through;
}

.todo-item-low-priority {
  border-left: 5px solid green;
}

.todo-item-medium-priority {
  border-left: 5px solid orange;
}

.todo-item-high-priority {
  border-left: 5px solid red;
}

.todo-item:hover {
  box-shadow: 2px 2px 5px 1px grey;
  transform: scale(1.01);
}

.todo-end {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.completed-task-checkbox {
  transform: scale(1.4);
  margin-right: 15px;
}

.todo-date {
  margin-right: 10px;
}

.todo-details-button {
  font-size: 16px;
  margin-right: 20px;
  background-color: rgb(236, 240, 240);
  border-style: none;
  border: 2px solid var(--main-primary-color);
  border-radius: 4px;
  color: rgb(39, 39, 109);
  height: 30px;
  width: 70px;
  cursor: pointer;
  transition: 0.3s;
}

.todo-details-button:hover {
  background-color: var(--main-primary-color);
  color: white;
}

.edit-todo-button {
  margin-right: 20px;
  font-size: 28px;
  color: rgb(39, 39, 109);
  cursor: pointer;
  transition: 0.3s;
}

.edit-todo-button:hover {
  color: var(--main-lighter-primary-color);
}

.remove-todo-item {
  margin-right: 20px;
  background-color: lightgray;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  line-height: 0%;
  transition: 0.3s;
}

.remove-todo-item:hover {
  background-color: var(--remove-or-exit);
  color: white;
}

/* 
  __  __           _       _    _____ _         _ _             
 |  \/  |         | |     | |  / ____| |       | (_)            
 | \  / | ___   __| | __ _| | | (___ | |_ _   _| |_ _ __   __ _ 
 | |\/| |/ _ \ / _` |/ _` | |  \___ \| __| | | | | | '_ \ / _` |
 | |  | | (_) | (_| | (_| | |  ____) | |_| |_| | | | | | | (_| |
 |_|  |_|\___/ \__,_|\__,_|_| |_____/ \__|\__, |_|_|_| |_|\__, |
                                           __/ |           __/ |
                                          |___/           |___/ 
*/

.modal-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.modal-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
  border-radius: 5px;
  background-color: white;
  margin-top: 8rem;
  font-family: 'Shippori Antique B1', sans-serif;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 0;
  padding: 9px;
  background-color: var(--remove-or-exit);
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.todo-item-name-header {
  padding-top: 10px;
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0;
  width: 98.9%;
  border-bottom: 1px solid black;
  background-color: rgb(248, 248, 248);
}

/* 
  ______    _ _ _                     _   _   _               
 |  ____|  | (_) |                   | | | \ | |              
 | |__   __| |_| |_    __ _ _ __   __| | |  \| | _____      __
 |  __| / _` | | __|  / _` | '_ \ / _` | | . ` |/ _ \ \ /\ / /
 | |___| (_| | | |_  | (_| | | | | (_| | | |\  |  __/\ V  V / 
 |______\__,_|_|\__|  \__,_|_| |_|\__,_| |_|_\_|\___| \_/\_/  
 |__   __|      | |       |  \/  |         | |     | |        
    | | ___   __| | ___   | \  / | ___   __| | __ _| |        
    | |/ _ \ / _` |/ _ \  | |\/| |/ _ \ / _` |/ _` | |        
    | | (_) | (_| | (_) | | |  | | (_) | (_| | (_| | |        
   _|_|\___/ \__,_|\___/  |_|  |_|\___/ \__,_|\__,_|_|        
  / ____| |       | (_)                                       
 | (___ | |_ _   _| |_ _ __   __ _                            
  \___ \| __| | | | | | '_ \ / _` |                           
  ____) | |_| |_| | | | | | | (_| |                           
 |_____/ \__|\__, |_|_|_| |_|\__, |                           
              __/ |           __/ |                           
             |___/           |___/                           
*/

.edit-todo-background-visible {
  display: block;
}

.todo-description {
  width: 850px;
  font-size: 20px;
  height: 200px;
  text-align: left;
  font-family: 'Shippori Antique B1', sans-serif;
  resize: none;
  border: none;
  margin-left: 10px;
}

.todo-description:focus {
  outline: none;
}

.todo-modal-due-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.todo-modal-due-date-input {
  margin-left: 10px;
  font-family: 'Shippori Antique B1', sans-serif;
  border-radius: 5px;
  border: 1px solid var(--main-primary-color);
  color: var(--main-primary-color);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.todo-modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo-modal-priority {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.todo-modal-priority-header {
  margin-right: 19px;
}

.todo-modal-priority-button {
  margin: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
}

.low-priority-label {
  color: green;
  font-size: 20px;
}

.medium-priority-label {
  color: orange;
  font-size: 20px;
}

.high-priority-label {
  color: red;
  font-size: 20px;
}

.priority-radio {
  margin-right: 20px;
  width: 16px;
  height: 16px;
}

/* 
  ______    _ _ _     _______        _                          
 |  ____|  | (_) |   |__   __|      | |                         
 | |__   __| |_| |_     | | ___   __| | ___                     
 |  __| / _` | | __|    | |/ _ \ / _` |/ _ \                    
 | |___| (_| | | |_     | | (_) | (_| | (_) |                   
 |______\__,_|_|\__|    |_|\___/ \__,_|\___/                    
  __  __           _       _    _____ _         _ _             
 |  \/  |         | |     | |  / ____| |       | (_)            
 | \  / | ___   __| | __ _| | | (___ | |_ _   _| |_ _ __   __ _ 
 | |\/| |/ _ \ / _` |/ _` | |  \___ \| __| | | | | | '_ \ / _` |
 | |  | | (_) | (_| | (_| | |  ____) | |_| |_| | | | | | | (_| |
 |_|  |_|\___/ \__,_|\__,_|_| |_____/ \__|\__, |_|_|_| |_|\__, |
                                           __/ |           __/ |
                                          |___/           |___/ 
*/

.edit-todo-modal {
  padding: 0;
}

.edit-todo-name-header {
  padding-top: 10px;
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0;
  width: 98.9%;
  border-bottom: 1px solid black;
  background-color: rgb(248, 248, 248);
}

.project-edit-todo-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-edit-todo-span {
  font-size: 20px;
  margin-left: 10px;
}

.project-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: var(--main-lighter-primary-color);
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  min-width: 170px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 3px;
  min-height: 47px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.first-dropdown-element {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.last-dropdown-element {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dropdown-content span:hover {
  background-color: var(--main-lighter-primary-color);
  color: white;
}

.project-dropdown:hover .dropdown-content {
  display: block;
}

.submit-edit-todo-modal {
  margin: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border: 1px solid var(--main-primary-color);
  color: var(--main-primary-color);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-edit-todo-modal:hover {
  color: white;
  background-color: var(--main-primary-color);
}

/* 
  _____                      _       _   _                      
 |  __ \                    (_)     | | (_)                     
 | |  | | ___  ___  ___ _ __ _ _ __ | |_ _  ___  _ __           
 | |  | |/ _ \/ __|/ __| '__| | '_ \| __| |/ _ \| '_ \          
 | |__| |  __/\__ \ (__| |  | | |_) | |_| | (_) | | | |         
 |_____/ \___||___/\___|_|  |_| .__/ \__|_|\___/|_| |_|         
                              | |                               
  __  __           _       _  |_|____ _         _ _             
 |  \/  |         | |     | |  / ____| |       | (_)            
 | \  / | ___   __| | __ _| | | (___ | |_ _   _| |_ _ __   __ _ 
 | |\/| |/ _ \ / _` |/ _` | |  \___ \| __| | | | | | '_ \ / _` |
 | |  | | (_) | (_| | (_| | |  ____) | |_| |_| | | | | | | (_| |
 |_|  |_|\___/ \__,_|\__,_|_| |_____/ \__|\__, |_|_|_| |_|\__, |
                                           __/ |           __/ |
                                          |___/           |___/ 
*/

.todo-description-modal {
  padding: 0;
}

.todo-description-background-visible {
  display: block;
}

.todo-description-main-header {
  padding-top: 10px;
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0;
  width: 98.9%;
  border-bottom: 1px solid black;
  background-color: rgb(248, 248, 248);
}

.todo-description-header {
  padding: 0;
}

.todo-description-description-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  padding-left: 10px;
}

.todo-description-paragraph {
  font-size: 20px;
  padding-top: 5px;
  margin-left: 10px;
}

.todo-description-section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.todo-description-span {
  font-size: 20px;
  padding-top: 5px;
  margin-left: 10px;
}

.low-priority {
  color: green;
}

.medium-priority {
  color: orange;
}

.high-priority {
  color: red;
}

/* 
  _   _                 _______        _                        
 | \ | |               |__   __|      | |                       
 |  \| | _____      __    | | ___   __| | ___                   
 | . ` |/ _ \ \ /\ / /    | |/ _ \ / _` |/ _ \                  
 | |\  |  __/\ V  V /     | | (_) | (_| | (_) |                 
 |_| \_|\___| \_/\_/      |_|\___/ \__,_|\___/                  
  __  __           _       _    _____ _         _ _             
 |  \/  |         | |     | |  / ____| |       | (_)            
 | \  / | ___   __| | __ _| | | (___ | |_ _   _| |_ _ __   __ _ 
 | |\/| |/ _ \ / _` |/ _` | |  \___ \| __| | | | | | '_ \ / _` |
 | |  | | (_) | (_| | (_| | |  ____) | |_| |_| | | | | | | (_| |
 |_|  |_|\___/ \__,_|\__,_|_| |_____/ \__|\__, |_|_|_| |_|\__, |
                                           __/ |           __/ |
                                          |___/           |___/ 
*/

.new-todo-item-background-visible {
  display: block;
}

.new-todo-item-name {
  font-size: 24px;
  text-align: left;
  font-family: 'Shippori Antique B1', sans-serif;
  resize: none;
  border: none;
  width: 888px;
}

.new-todo-item-name:focus {
  outline: none;
}

.new-todo-item-description {
  width: 850px;
  font-size: 20px;
  height: 200px;
  text-align: left;
  font-family: 'Shippori Antique B1', sans-serif;
  resize: none;
  border: none;
}

.new-todo-item-description:focus {
  outline: block;
}

.submit-new-todo-modal {
  margin: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border: 1px solid var(--main-primary-color);
  color: var(--main-primary-color);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-new-todo-modal:hover {
  color: white;
  background-color: var(--main-primary-color);
}
